/* Подключение шрифтов для сайта */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 785;
  font-display: swap;
  src: url('../fonts/Inter-Variable.woff2') format('woff2 supports variations'),
       url('../fonts/Inter-Variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PressStart2P-Regular.woff') format('woff');
}
